* {
    box-sizing: border-box;
}

html,
body{
    margin: 0;
    padding: 0;
}
body{
    overflow:auto;
}

#game{
    position:relative;
    height: 100vh;
    width: 100vw;
}

.cnv{
    position:absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-style:solid;
}

#cnvBackground{
    background-color: #000;
    z-index: 1;
}

#cnvSnake{
    background-color: transparent;
    z-index: 2;
}